img#busStopSign {
  height:56px;
  width:40px;
  vertical-align: middle;
}

img#busStopNum {
  height:19px;
  width:90px;
  vertical-align: middle;
}

table#red {
  background-color:red;
  font-size: 13px;
  margin:5px;
}
table#red tr:nth-child(odd) {

  color: white;
}

table#red tr:nth-child(even) {
  color: black;
}

table#yellow {
  background-color:yellow;
  font-size: 13px;
  margin: 5px;
}
table#yellow tr:nth-child(odd) {
  color: black;
}

table#yellow tr:nth-child(even) {
  color: black;
}

table#blue {
  background-color:blue;
  font-size: 13px;
  margin: 5px;
}
table#blue tr:nth-child(odd) {
  color: white;
}

table#blue tr:nth-child(even) {
  color: black;
}

table#green {
  background-color:green;
  font-size: 13px;
  margin: 5px;
}
table#green tr:nth-child(odd) {
  color: black;
}

table#green tr:nth-child(even) {
  color: black;
}
