table.ticketInfo tr:nth-child(even) {
    background-color: #eee;
    font-size: 13px;
}

table.ticketInfo th {
    background-color: darkblue;
    color: gold;
    font-size: 13px;
}

table.ticketInfo, th, td {
    margin-top: 5px;
    padding: 6;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 13px;
}

ons-icon#advantage {
  color: gold;
}
