#voucherList {
  width:100%;
  margin:0;
  padding:0;
  display:inline-block;
  vertical-align: top;
}

img {
  display:block;
  height:80%;
  width:100%;
}

div.container {
  height:100%;
  width:auto;
  margin:0;
  padding:0;
  background-color: gold;
  color: red;
  text-align: center;
  font-family: fantasy;
  font-size: 24px;
}
